<div class="d-flex flex-column align-items-center justify-content-center" style="padding-top: 7%;">
  <img src="/assets/images/logo.png" class="bg-logo" height="100">
  <h1 class="text-white">It's easy to Spend.</h1>
  <div class="form-container mt-5">
    <form [formGroup]="form">
      <div class="form-group d-flex flex-column align-items-center">
        <input type="text" placeholder="Username" formControlName="username" class="text-center form-input my-3">
        <input type="password" placeholder="Password" formControlName="password" class="text-center form-input my-3">
        <button class="btn btn-primary my-2" (click)="signin()">
          <span *ngIf="isSubmitted">
            <i class="fa fa-spinner fa-spin fa-fw"></i> Processing...
          </span>
          <span *ngIf="!isSubmitted">Sign in</span>
        </button>
        <p class="error" *ngFor="let e of errors">{{e.message}}</p>
        <a routerLink="/signin" class="link">Create an account</a>
        <a routerLink="/" class="link">Referral Code</a>
      </div>
    </form>
  </div>
</div>