<div id="chartContainer" class="bg-white">
  <div id="chartWrapper">
    <canvas id="chart"></canvas>
  </div>
  <div class="periodTabContainer">
    <a [class.active]="option === '24h'" class="btn" (click)="selectPeriod('24h', 0)">24H</a>
    <a [class.active]="option === '7d'" class="btn" (click)="selectPeriod('7d', 1)">7D</a>
    <a [class.active]="option === '1m'" class="btn" (click)="selectPeriod('1m', 2)">1M</a>
    <a [class.active]="option === '3m'" class="btn" (click)="selectPeriod('3m', 3)">3M</a>
    <a [class.active]="option === '1y'" class="btn" (click)="selectPeriod('1y', 4)">1Y</a>
    <a [class.active]="option === 'all'" class="btn" (click)="selectPeriod('all', 5)">All</a>
  </div>
  <div class="periodContentContainer">
    <div class="row">
      <div class="col-sm-6 withBorder">
        <div class="walletInfo">
          <div class="text-left itemTitle">Market Cap</div>
          <div class="text-right" id="marketCap"></div>
        </div>
        <div class="walletInfo">
          <div class="text-left itemTitle">Volume ({{option | titlecase}})</div>
          <div class="text-right" id="volume"></div>
        </div>
      </div>
      <div class="col-sm-6">
        <div class="walletInfo">
          <div class="text-left itemTitle">Circulating Supply</div>
          <div class="text-right" id="circSupply"></div>
        </div>
        <div class="walletInfo">
          <div class="text-left itemTitle">Max Supply</div>
          <div class="text-right" id="maxSupply"></div>
        </div>
      </div>
    </div>
  </div>
</div>
<div id="dot"></div>
<div id="divider"></div>
<div id="priceTooltip"></div>
<div id="dateTooltip"></div>