.btn {
  border-radius: 25px;
}
.btn-outline-light {
  pointer-events: none;
  min-width: 181px;
  &:hover{
    color: white;
    border-color: white;
    background-color: transparent;
  }
}
.btn-light {
  box-shadow: 5.5px 9.5px 18px 0 rgba(0, 0, 0, 0.29);
}
.badge {
  font-size: 1.3em;
}
.badge-pill {
  font-size: 0.7em!important;
}
@media (max-width: 767.98px) {
  .border-right {
    border-right: 0 !important;
  }
}
.upload-icon {
  top: 50%;
  left: 49%;
  width: 5rem;
  position: absolute;
  transform: translate(-50%, -50%);
}
.uploaded-img {
  top: 50%;
  left: 49%;
  width: 10rem;
  position: absolute;
  transform: translate(-50%, -50%);
}
.over-flow-auto {
  overflow: auto !important;
}