.modal {
  height: 100%;
  width: 50%;
}

.modal-body {
  background-color: #f2f2f2;
}

.modal-img {
  margin-top: -50px;
  height: 80px;
  width: 80px;
}

.exchange-modal.close {
  top: 2px;
  right: -36px;
  position: absolute;
}

.exchange-icon {
  margin-top: 65%;
}

.asset-icon-left {
  width: 69px;
  top: -11px;
  right: -49px;
}

.asset-icon-right {
  width: 69px;
  top: -11px;
  left: -49px;
}

.exchange-quote-amount {
  font-size: 1.3em;
  min-height: 42px;
  white-space: nowrap;
  span {
    vertical-align: sub;
  }
}

.exchange-icons {
  @media (max-width: 576px) {
    svg {
      top: 9px;
      left: 46%;
      width: 1.9rem;
    }
  }
  @media (min-width: 576px) {
    svg {
      top: 9px;
      left: 33%;
      width: 1rem;
    }
  }
}