.loan-container {
    margin-bottom: 50px;
    background-color: white;
    border-radius: 5px;
    box-shadow: 0px 5px 14.4px 3.2px rgba(6, 6, 6, 0.19);
    padding: 40px 50px;

    .loan-report {
        box-shadow: 0px 2.5px 10.3px 0.2px rgba(0, 0, 0, 0.11);
        border-radius: 7.5px;
        padding: 30px;
        display: flex;
        align-items: center;
        justify-content: center;

        .available-loan {
            border-right: 3px solid #f6f6f6;
            text-align: right;
            padding: 15px 50px 15px 0;
            flex: 1;

            h4 {
                font-weight: bold;
                color: #000000;
            }
            h6 {
                font-size: 20px;
                color: #7f7f7f;
            }
        }

        .current-loan {
            padding: 15px 0 15px 50px;
            flex: 1;

            h4 {
                font-weight: bold;
                color: #000000;
            }
            h6 {
                font-size: 20px;
                color: #7f7f7f;
            }
        }
    }

    @media (max-width: 768px) {
        .loan-report {
            padding-left: 10px;
            padding-right: 10px;

            .available-loan {
                padding-right: 10px;
            }
            .current-loan {
                padding-left: 10px;
            }
        }
    }

    .divider {
        height: 3px;
        background-color: #f6f6f6;
    }

    .clickable-item {
        border-radius: 7.5px;
        box-shadow: 0px 2.5px 10.3px 0.2px rgba(0, 0, 0, 0.11);
        display: flex;
        align-items: center;
        justify-content: flex-start;
        padding: 30px 20px;
        cursor: pointer;
        margin: 5px 0;

        h5 {
            font-size: 19px;
            font-weight: bold;
            color: #000000;
        }
        p {
            font-size: 14px;
            color: #7f7f7f;
            margin: 0;
        }
    }
}

@media (max-width: 520px) {
    .loan-container {
        padding: 40px 10px;
    }
}

.loan-apply-container {
    margin-top: 50px;
    margin-bottom: 50px;
    background-color: white;
    border-radius: 5px;
    box-shadow: 0px 5px 14.4px 3.2px rgba(6, 6, 6, 0.19);
    padding: 50px;
    color: #5a5a5a;

    .step-section {
        display: flex;
        align-items: flex-start;
        justify-content: center;
        border-bottom: 3px solid #f6f6f6;
        padding-bottom: 40px;
    }

    .one-step {
        text-align: center;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;

        .step-num {
            font-size: 29px;
            line-height: 50px;
            width: 50px;
            height: 50px;
            color: #cdcdcd;
            border-radius: 50%;
            border: 1px solid #cdcdcd;
        }

        p {
            color: #7f7f7f;
            margin-top: 10px;
        }
    }

    .one-step.active {
        .step-num {
            color: #0872f7;
            border-color: #0872f7;
        }

        p {
            color: #0872f7;
        }
    }

    .step-line {
        height: 3px;
        background-color: #f6f6f6;
        width: 10%;
        margin-top: 23px;
    }

    .loan-body-step1 {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        padding: 50px 0;

        h4 {
            color: #5a5a5a;
        }

        h6 {
            color: #5a5a5a;
            margin: 10px 0;
        }

        input {
            max-width: 550px;
            width: 100%;
            background-color: #f4f4f4;
            margin: 30px 0;
        }

        .buttons {
            display: flex;
            align-items: center;
            justify-content: center;
            padding: 30px 0 0;

            .btn {
                margin: 0 7px;
                border-radius: 30px;
                width: 200px;
            }
            
            .btn-outline-primary {
                height: 40px;
                border-width: 3px;
                border-color: #437edf;
                padding: 0 15px;
            }
        }
    }

    .loan-body-step2 {
        .form-control {
            background-color: #f8f8f8;
        }

        .custom-control-label {
            font-size: 14px;
        }

        li {
            font-size: 14px;
        }

        .btn-submit {
            border-radius: 30px;
            width: 200px;
        }
    }

    .custom-checkbox .custom-control-label::before {
        border: 2px solid #0872f7;
    }

    .divider {
        height: 3px;
        background-color: #f6f6f6;
    }

    .loan-body-step3 {
        .custom-control-label {
            font-size: 20px;
            margin-left: 30px;
        }

        .btn-submit {
            border-radius: 30px;
            width: 200px;
        }

        .step3-step2 {
            .fa {
                font-size: 80px;
                color: #0872f7;
            }
            p {
                margin: 50px 0 70px;
                font-size: 15px;
                color: #7f7f7f;
            }
        }

        .step3-step3 {
            p {
                margin: 50px 0;
                font-size: 15px;
                color: #7f7f7f;
            }
        }
    }

    .loan-body-step4 {
        .btn-submit {
            border-radius: 30px;
            width: 200px;
        }
        h2 {
            color: #000000;
            font-size: 38px;
            font-weight: bold;
        }
        p {
            font-size: 15px;
        }
    }
}

.loan-modal-container {
    padding: 50px 0;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    .img-lock {
        margin: 30px 0;
    }

    p {
        font-size: 21px;
        color: #5a5a5a;
    }

    .btn-close {
        position: absolute;
        top: 0;
        right: -35px;
        cursor: pointer;
    }

    .btn-primary {
        border-radius: 30px;
        padding: 10px 40px;
    }
}

@media (max-width: 500px) {
    .loan-apply-container {
        padding: 50px 0;
    }

    .loan-body-step1 {
        .buttons {
            .btn {
                width: 140px !important;
            }
        }

        .btn-close {
            top: -35px;
            right: 0;
        }
    }
}

.loan-current-container {
    margin-bottom: 50px;
    background-color: white;
    border-radius: 5px;
    box-shadow: 0px 5px 14.4px 3.2px rgba(6, 6, 6, 0.19);
    padding: 50px;
    color: #5a5a5a;

    .items-section {
        border-right: 1px solid #eeeeee;
    }

    .list-item {
        padding: 1.5rem 2rem;
        border-bottom: 1px solid #eeeeee;
        color: #000000;
        font-size: 16px;
        font-weight: 600;
        cursor: pointer;

        .fa {
            visibility: hidden;
        }
    }

    .list-item.active {
        color: #3473f0;

        .fa {
            visibility: visible;
        }
    }

    .card-section {
        padding-left: 30px;
    }

    .item-card {
        position: relative;
        padding: 30px 40px 20px 20px;
        box-shadow: 0px 10px 28.4px 0.6px rgba(6, 6, 6, 0.07);
        border-radius: 10px;
        margin: 15px 0 30px;
        cursor: pointer;

        p {
            margin: 0;
        }

        img {
            position: absolute;
            top: -10px;
            left: 15px;
        }

        .name {
            font-weight: bold;
            color: #000000;
        }

        .price {
            font-weight: bold;
            color: #000000;
            font-size: 18px;
        }

        .date,
        .asset {
            font-size: 12px;
            color: #a1a1a1;
        }
    }
}

@media (max-width: 768px) {
    .loan-current-container {
        padding: 15px;

        .items-section {
            border-right: 0;
        }

        .card-section {
            padding-left: 15px;
        }
    }
}

.loan-current-modal-container {
    padding: 20px 60px;
    color: #a1a1a1;
    font-size: 15px;

    img {
        margin-bottom: 20px;
    }

    h4 {
        width: 100%;
        font-weight: bold;
        color: #000000;
        padding-top: 20px;
        border-top: 1px solid #eeeeee;
        text-align: center;
    }

    h5 {
        color: #000000;
        font-weight: bold;
    }

    .val {
        color: #000000;
    }

    .btn {
        border-radius: 30px;
        min-width: 180px;
    }

    .row {
        padding: 30px 0;
        border-bottom: 1px solid #eeeeee;
        margin-bottom: 20px;
        width: 100%;

        .d-flex {
            margin: 10px 0;
        }
    }

    p {
        margin: 0;
    }
}

@media (max-width: 440px) {
    .loan-current-modal-container {
        padding: 20px;
    }
}

.loan-payoff-container {
    margin-bottom: 50px;
    background-color: white;
    border-radius: 5px;
    box-shadow: 0px 5px 14.4px 3.2px rgba(6, 6, 6, 0.19);
    padding: 50px;
    color: #000000;

    p {
        margin: 0;
    }

    hr {
        width: 100%;
    }

    h5, h6 {
        font-weight: bold;
    }

    .select-box {
        width: 350px;

        .select {
            border-radius: 30px;
            border: 1px solid #277ee6;
            padding: 10px 15px;
            box-shadow: 0px 18px 31.4px 0.6px rgba(221, 221, 221, 0.49);
            cursor: pointer;

            span {
                font-size: 12px;
                color: #a0a0a0;
            }

            .fa {
                color: #437edf;
            }
        }

        .list {
            margin-top: -20px;
            padding: 30px 15px;
            box-shadow: 0px 10px 28.4px 0.6px rgba(6, 6, 6, 0.07);
            border-radius: 10px;
            max-height: 300px;
            overflow: auto;

            .list-item {
                margin: 10px 0;
                cursor: pointer;

                img {
                    flex: 0 0 25px;
                    margin-right: 20px;
                }

                span {
                    flex: 1;
                    font-size: 15px;
                    height: 15px;
                }

                .val {
                    text-align: right;
                }
            }
        }
    }

    .btn {
        width: 180px;
        border-radius: 30px;
    }
}

@media (max-width: 400px) {
    .loan-payoff-container {
        padding: 50px 15px;

        .select-box {
            width: 100%;
        }
    }
}